  <td data-toggle="popover" title="2017 Performance" data-trigger="hover" data-content=<%= "\"#{contract.player.position}#{contract.player.holdout_rank(2017)}\"".html_safe %>><%= contract.player.name %></td>
  <td class="text-center"><%= contract.salary %></td>
  <td class="text-nowrap"><%= contract.contract_terms %></td>
  <td class="text-center"><%= contract.acquired_cost%></td>
  <td class="text-center"><%= contract.holdout_eligible? ? "Yes" : "No" %></td>
  <td class="text-center"><%= contract.dead_cap %></td>
  <td><small><%= contract.notes%></small></td>
