<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
<% @franchises.each_with_index do |franchise, index| %>
<%= "<div class=\"row\">".html_safe if index.even? %>
<div class="col-md-6">
  <table class="table table-condensed table-hover">
    <caption><%= franchise.name %></caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Salary</th>
        <th scope="col">Contract</th>
        <th scope="col" class="text-center">Acquired Cost</th>
        <th scope="col" class="text-center">Holdout Eligible?</th>
        <th scope="col" class="text-center">Dead Cap</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active text-nowrap"><td colspan="7"><strong>Active Roster</strong></td></tr>
      <%= render partial: "contract", collection: franchise.active_roster %>
      <%= render partial: "salary_total", locals: { franchise: franchise, roster: :active_roster } %>

      <% if franchise.taxi_squad.present? %>
      <tr class="position-border active text-nowrap"><td colspan="7"><strong>Taxi Squad</strong></td></tr>
      <%= render partial: "contract", collection: franchise.taxi_squad %>
      <%= render partial: "salary_total", locals: { franchise: franchise, roster: :taxi_squad} %>
      <% end %>

      <% if franchise.pending_franchise_tag.present? %>
      <tr class="position-border active text-nowrap"><td colspan="7"><strong>Franchise Tag Eligible</strong></td></tr>
      <%= render partial: "contract", collection: franchise.pending_franchise_tag %>
      <%= render partial: "salary_total", locals: { franchise: franchise, roster: :pending_franchise_tag } %>
      <% end %>

      <tr class="active">
        <td class="text-nowrap"><strong>Total Salary</strong></td>
        <td class="text-center"><%= franchise.salary %></td>
        <td colspan="6"> </td>
      </tr>

      <tr class="active">
        <td class="text-nowrap"><strong>Remaining Cap Space</strong></td>
        <td class="text-center"><%= 300 - franchise.salary %></td>
        <td colspan="6"> </td>
      </tr>
    </tbody>
  </table>
</div>
<%= "</div>".html_safe if index.odd? %>
<% end %>
